<div class="modal-header">
    <h4 class="modal-title pull-left">{{ title | uppercase }}</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul *ngIf="list.length">
      <li *ngFor="let item of list">{{ item }}</li>
    </ul>

    <form [formGroup]="fundsForm" (ngSubmit)="onSubmit()">
      <p>
        <label>Investment Amount:</label>
        <input
          type="text"
          formControlName="investmentPaid"
          name="investmentPaid"
          minlength="3"
          required
        />
      </p>
      <p>
        <button type="submit" [disabled]="!fundsForm.valid">Submit</button>
      </p>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
      {{ closeBtnName }}
    </button>
  </div>
